#Center {
    text-align: center;
}

main {
   margin-top: 5em;
}

a.pointer{
  cursor: pointer;
}

h4.KalosTextStyle{
  font-style: italic;
  text-align: center;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}